.dropdown {
	width: 10em;
	border: 1px solid #CCC;
}

.dropdown ul {
	margin: 0;
	padding: 0;
	list-style-type: 0;
}

.dropdown a,
.dropdown button {
	display: block;
	padding: .25em .5em;
	text-decoration: none;
	color: #000;
	background-color: #FFF;
}

.dropdown button {
	border: 0;
	font: inherit;
}

.dropdown.is-closed > button:after {
	content: ' \21D2';
}

.dropdown.is-open > button:after {
	content: ' \21D3';
}

.dropdown a:hover,
.dropdown a:focus {
	color: #07B4BA;
	background-color: #EEE;
}
