.tabs {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #EEE;
}

.tabs > li {
	display: inline;
}

.tabs > li > a {
	display: inline-block;
	padding: .25em .5em;
	border: 1px solid #EEE;
	border-bottom: 0;
	text-decoration: none;
	background: #EEE;
}

.tabs > li > a.is-selected {
	margin-bottom: -1px;
	border-bottom: 1px solid #FFF;
	background: #FFF;
}
