.slider {
	/* For no JS situations */
	overflow: auto;
}

.slider > ul {
	margin: 0;
	padding: 0;

	/* Force list items onto a single line and remove white space */
	font-size: 0;
	white-space: nowrap;

	/* Only WebKit requires prefix */
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.slider > ul > li {
	display: inline-block;
}

/* Controls */
.slider .next,
.slider .prev {
	position: absolute;
	top: 50%;
	margin-top: -1em;
	padding: .5em;
	line-height: 1;
	text-decoration: none;
	color: white;
	background: rgba(0, 0, 0, .25);
	cursor: pointer;
}

.slider .next {
	right: 0;
}

.slider .prev {
	left: 0;
}

.slider .is-disabled {
	opacity: .25;
}

/* Full width variation */
.slider--fit li {
	width: 100%;
}
.slider--fit img {
	min-width: 100%;
}
